{% for set in sets %}{% if set.type=="number" or set.type=="boolean" %}export {{ set.env }}={{ set.value }}{% else %}export {{ set.env }}="{{ set.value }}"{% endif %}
{% endfor %}
{{ start }}{% for set in sets %}{% if set.argument %} --{{ set.argument }}=${{ set.env }}{% endif %}{% endfor %}
